@font-face {
  font-family: 'Raleway-Black';
  src: local('Raleway-Black'), url(../../assets/fonts/Raleway-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Golos-Text';
  src: local('Golos-Text'), url(../../assets/fonts/GolosText-Regular.ttf) format('truetype');
}