.container {
	display: grid;
	gap: 20px;
	color: white;
	background-color: #232323;
}

.header {
	display: grid;
	gap: 20px;
	justify-items: center;
	text-align: center;
}

.header h1 {
	font-size: 4rem;
}

.header .line {
	width: 50%;
	height: 1px;
	background-color: #008ed6;
}

.slides {
	display: grid;
	grid-template-columns: 1fr 1fr;
	overflow: hidden;
}
