.container {
  display: grid;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.containerTitle {
  background-color: #F9F8F8;
  padding: 2%;
  display: grid;
	white-space: nowrap;
	gap: 20px;
	align-items: center;
	grid-template-columns: min-content min-content;
  border-bottom:  1px solid #DDD;
}

.svgContainer {
	width: 70px;
	height: 70px;
}

.settingsContainer {
  background-color: white;
  display: grid;
  font-size: 1.2rem;
  gap: 20px;
  padding: 2% 5%;
}

.settingsContainer input {
  box-sizing: border-box;
  width: 100%;
  min-height: 2rem;
  padding: 1rem;
  margin: 0;
  background-color: #eee;
  border: none;
  border-radius: 10px;
}

.actionButtons {
  display: grid;
  gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}