.container {
  position: relative;
  width: 200px;
  height: 100%;
  transition: 0.3s ease;
  background-color: #4C8BF5;
  display: grid;
  color: white;
  justify-items: center;
  align-items: center;
}

.switcher {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 10px;
  right: 10px;
  border: 2px solid white;
  color: white;
  z-index: 1000;
}

.switcher i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.linksContainer {
  display: grid;
  width: inherit;
  height: inherit;
  color: white;
  justify-items: center;
  align-items: center;
  transition: 0.2s ease;
}

.isClosed {
  width: 50px;
}

.isVisible {
  opacity: 0;
}