.container {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #008ED6;
  border-radius: 10px;
  height: 50px;
  width: 150px;
}

.container:hover {
  opacity: 0.95;
}

.container:active {
  transform: scale(0.98);
}