.container {
  background-image: url("https://images.unsplash.com/photo-1456513080510-7bf3a84b82f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1373&q=80");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  background-color: var(--primary-color);
  /* TODO Поправить это */
  display: grid;

  padding: 50px;
  color: white;
}

.container img {
  width: 20%;
  margin: 5%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  position: relative;
  padding: 30px;
}

.bbTopLeft {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  border-top: 1px solid white;
  border-left: 1px solid white;
}

.bbTopRight {
position: absolute;
width: 15px;
height: 15px;
top: 0;
right: 0;
border-top: 1px solid white;
border-right: 1px solid white;
}

.bbBottomLeft {
position: absolute;
width: 15px;
height: 15px;
bottom: 0;
left: 0;
border-bottom: 1px solid white;
border-left: 1px solid white;
}

.bbBottomRight {
position: absolute;
width: 15px;
height: 15px;
bottom: 0;
right: 0;
border-bottom: 1px solid white;
border-right: 1px solid white;
}