.container {
	display: grid;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	overflow: hidden;
}

.cardSetFormContainer {
	background-color: white;
}

.cardSetFormTitle,
.importCardsDataTitle,
.newFlashCardTitle,
.actionsTitle {
	background-color: #F9F8F8;
	padding: 2%;
	border-bottom:  1px solid #DDD;
}

.cardSetFormTitle {
	display: grid;
	white-space: nowrap;
	gap: 20px;
	align-items: center;
	grid-template-columns: min-content min-content
}

.svgContainer {
	width: 70px;
	height: 70px;
}

.cardSetFormColumns {
	display: grid;
	padding: 2% 5%;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
}

.cardSetFormColumnsRight,
.cardSetFormColumnsLeft {
	display: grid;
	gap: 20px;
	align-items: center;
	background-color: white;
}

.cardSetFormColumns input {
	box-sizing: border-box;
	width: 100%;
	min-height: 2rem;
	padding: 1rem;
	background-color: #eee;
	border: none;
	border-radius: 10px;
}

.cardSetFormColumns textarea {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	min-height: 100px;
	padding: 1rem;
	background-color: #eee;
	border: none;
	border-radius: 10px;
}

.cardSetFormColumns label {
	font-size: 1.2rem;
}

.importCardsDataFormContainer {
	background-color: white;
	display: grid;
	gap: 20px;
}

.importCardsDataForm {
	display: grid;
	padding: 2% 5%;
	gap: 20px;
	background-color: white;
}

.newFlashCardContainer {
	display: grid;
	gap: 20px;
	background-color: #EBEBEB;
	box-shadow: 1px 1px 1px 1px silver;
}

.newFlashCardListContainer {
	display: grid;
	gap: 20px;
}

.actionsButtons {
	background-color: white;
	padding: 5%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
}