.container {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
	padding: 5%;
}

.cardId {
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 1.5rem;
	font-weight: bold;
}

.removeBtn {
	position: absolute;
	top: 20px;
	right: 20px;
	transition: 0.3s ease;
}

.removeBtn:hover {
	color: red
}

.side {
	display: grid;
	grid-template-rows: min-content max-content;
	gap: 20px;
}

.side label {
	font-size: 1.2rem;
	font-weight: bold;
}

.side textarea {
	min-height: 200px;
	padding: 5%;
	font-size: 1.5rem;
	white-space: normal;
	border: none;
	outline: none;
}
