.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  align-items: "center";
  justify-items: center;
  width: 100%;
  padding: 25px 0;
  color: var(--primary-text-color);
  transition: 0.3s ease;
}

.scrolled {
  padding: 5px 0;
  background-color: #232323;
  opacity: 0.8;
}

.links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 10px;
  align-items: center;
  justify-items: left;
  width: 100%;
}

.links__item {
  cursor: pointer;
  transition: 0.3s;
}

.links__item:hover {
  color: #18BBF1
}

@media (width < 990px) {
  .navigation {
    display: none;
  }
}