.container {
	display: grid;
	gap: 50px;
	align-items: center;
	justify-items: center;
	padding: 0 50px;
	color: white;
	background-color: #232323;
}

.header {
	display: grid;
	gap: 20px;
	align-items: center;
	justify-items: center;
}

.header h1 {
	font-size: 4rem;
}

.header .line {
	width: 50%;
	height: 1px;
	background-color: #008ed6;
}

.features {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30%, auto));
	align-items: center;
	justify-items: center;
	width: 100%;
}

.column {
	display: grid;
}

.featureContainer {
	display: grid;
	grid-template-areas: "featureHeader featureIcon" "featureDescription featureIcon";
	grid-template-rows: 1fr 3fr;
	grid-template-columns: 4fr 1fr;
	justify-items: end;
	text-align: right;
}

.end .featureContainer {
	grid-template-areas: "featureIcon featureHeader" "featureIcon featureDescription";
	grid-template-columns: 1fr 4fr;
	justify-items: start;
	text-align: left;
}

.featureHeader {
	grid-area: featureHeader;
	font-size: 2rem;
	color: #008ed6;
}

.featureIcon {
	display: grid;
	grid-area: featureIcon;
	align-items: center;
	justify-items: center;
	width: 40px;
	height: 40px;
	color: #008ed6;
	border: 2px solid;
	border-color: #008ed6;
	border-radius: 50%;
}

.featureDescription {
	grid-area: featureDescription;
}
