.explanations {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	align-items: center;
	justify-items: center;
	padding: 50px;
	background-color: white;
}

.explanations__column {
	display: grid;
	grid-template-rows: min-content min-content max-content;
	gap: 20px;
	align-items: center;
	justify-items: center;
}

.info {
	grid-template-rows: min-content auto;
	justify-content: center;
	text-align: center;
}

.info__title {
	display: grid;
	gap: 20px;
}

.info__line {
	width: 80%;
	height: 1px;
	background-color: #008ed6;
}

.info__items {
	display: grid;
	width: 100%;
}

.info__items_item {
	display: flex;
}

.explanations__column_img {
	width: 250px;
	height: auto;
}
