.authPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1100;
  display: grid;
  gap: 20px;
  align-items: center;
  justify-items: center;
  padding: 5%;
  background-color: white;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px rgb(215, 215, 215);
  transform: translate(-50%, -50%);
}

.authPopup__closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.authPopup__switcher {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.authPopup__switcher p {
  cursor: pointer;
}

.authPopup__switcher_line {
  border-bottom: 2px solid #18BBF1;
}

.authPopup__content {
  display: grid;
  gap: 20px;
}