.container {
  display: grid;
  gap: 20px;
  padding: 5%;
  background: #FFFFFF;
}

.cardSetListItem {
  padding: 5%;
  border-bottom: 1px solid silver;
}

.cardSetListItem a {
  text-decoration: none;
}