.container {
	display: grid;
	background-color: #EFEFEF;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.content {
	display: grid;
	gap: 20px;
	padding: 5% 15%;
}