.container {
	display: grid;
	gap: 20px;
	padding: 20px 0;
	color: white;
	background-color: #232323;
}

.header {
	display: grid;
	gap: 20px;
	justify-items: center;
	text-align: center;
}

.header .line {
	width: 50%;
	height: 1px;
	background-color: #008ed6;
}

.screensContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	justify-items: center;
}

.screen {
	width: 250px;
	height: auto;
}