.cardSetTitle {
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}

.cardSetTitle:hover {
  color: red;
}

/*  ---------------------- Table */

table {
  width: 100%;
  padding: 0;
  margin: 0;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

table caption {
  margin: .5em 0 .75em;
  font-size: 1.5em;
}

table tr {
  padding: .35em;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  text-transform: uppercase;
  letter-spacing: .1em;
}

@media screen and (max-width: 1200px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: none;
  }
  
  table tr {
    display: block;
    margin-bottom: .625em;
    border-bottom: 3px solid #ddd;
  }
  
  table td {
    display: block;
    font-size: .8em;
    text-align: right;
    border-bottom: 1px solid #ddd;
  }
  
  table td::before {
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}