.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	padding: 50px;
	color: white;
	background-color: #161616;
}

.column {
	display: grid;
	grid-template-rows: min-content min-content max-content;
	gap: 20px;
	align-items: center;
	justify-items: center;
}

.column.info {
	display: grid;
	grid-template-rows: min-content auto;
}

.header {
	display: grid;
	gap: 20px;
}

.header .line {
	width: 50%;
	height: 1px;
	background-color: #008ed6;
}

.column h1 {
	font-size: 4rem;
}

.points {
	display: grid;
	width: 100%;
}

.point {
	display: grid;
	grid-template-columns: min-content max-content;
	gap: 5px;
	align-items: center;
	justify-items: center;
	font-size: 1.2rem;
}
