.container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo navItemContainer nav";
  justify-items: center;
  padding: 25px;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.navItemContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}
