.container {
  display: grid;
  grid-template-areas: "logo navItemContainer";
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 5fr;
  justify-items: center;
  justify-items: center;
  color: var(--primary-text-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 0;
}

.navItemContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  gap: 10px;
  justify-items: center;
  width: 100%;
}