.container {
  display: grid;
  gap: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 2px 3px 4px silver;
  padding: 1rem;
  position: relative;
  text-align: center;
  /* TODO FIXME */
  margin: 2.5%;
}

.iconContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  gap: 10px;
  padding: 5px;
  top: 0;
  right: 0;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.description {
  font-style: italic;
  color: silver;
}

.learned {
  transform: rotate(45deg);
  font-family: 'Marck Script', cursive;
  font-weight: bold;
  position: absolute;
  color: red;
  font-size: 3.5rem;
  top: 25%;
  left: 25%;
  z-index: 100;
}

.isActive {
  color: red;
}

.textThrough {
  text-decoration: line-through;
  opacity: 0.8;
}