.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 2fr;

  background-image: url("https://images.unsplash.com/photo-1596526131083-e8c633c948d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  background-color: var(--primary-color);
  /* TODO Поправить это */
  padding: 100px 0;
  color: white;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  position: relative;
  padding: 30px;
}

.info {
  /* FIXME ЗАменить на grid */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20%;
}

.bbTopLeft {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    border-top: 1px solid white;
    border-left: 1px solid white;
}

.bbTopRight {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  right: 0;
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.bbBottomLeft {
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

.bbBottomRight {
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 0;
  right: 0;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 60px;
  border: 5px solid var(--primary-color);
  border-radius: 10px;
}

.inputContainer input {
  width: 90%;
  height: 100%;
  font-size: 1.2rem;
  outline: none;
}

.inputContainer button {
  width: 10%;
  height: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color);
  transition: 0.2s ease;
}

.inputContainer i {
  color: white;
  font-size: 2rem;
}

.inputContainer i:hover {
  font-size: 2.2rem;
  text-shadow: 1px 1px 1px white;
}
