.registerForm {
  display: grid;
  max-height: 100vh;
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.input {
  height: 50px;
  padding: 5px;
  text-align: center;
  border: 1px solid silver;
  border-radius: 10px;
}

.privacyContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.privacyLabel {
  font-size: 0.8em;
  text-align: center;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.validationContainer p {
  color: rgb(255, 0, 0);
}

@media (max-height: 360px) {
  .input {
    height: 40px;
  }
  .inputContainer {
    grid-template-columns: 1fr 1fr;
  }
}