.container {
  
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100px;
  transition: 1s ease;
  width: 150px;
  background-color: white;
  height: 100vh;
  background-image: linear-gradient(#232323, #161616, #18BBF1);
  box-shadow: 1px 1px 1px 1px #098ED6;
  z-index: 1000;
  opacity: 0.8;
  color: white;
}

.open {
  right: 0;
}

.menu {
  display: grid;
  justify-items: center;
  height: 100%;
}

.title {
  border-bottom: 1px solid #098ED6;
}

.row {
  cursor: pointer;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  color: white;
  text-decoration: none;
}

.row:hover {
  background-color: #098ED6;
}

.row i {
  font-size: 2rem;
}

.row p {
  width: 100%;
}

.account {
  border-top: 1px solid silver;
}