.container {
	display: grid;
	grid-template-rows: max-content 1fr;
	grid-template-columns: 1fr;
	overflow: hidden;
	background-color: #FFFFFF;
	border-radius: 10px;
}

.header {
	display: grid;
	grid-template-columns: min-content min-content;
	gap: 20px;
	align-items: center;
	padding: 2%;
	background-color: #F9F8F8;
	border-bottom: 1px solid #DDD;
}

.header h1 {
	white-space: nowrap;
}

.userSvgContainer {
	width: 70px;
	height: 70px;
}

.contentContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.menuContainer {
	flex: 1;
	padding: 5%;
	background-color: #F9F8F8;
	border-right: 1px solid #DDD;
}

.dashboardContainer {
	flex: 7;
	display: grid;
	gap: 20px;
	margin: 2%;
	border: 1px solid #DDD;
	border-radius: 10px;
}

.navigation {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
	padding: 2%;
	border-bottom: 1px solid #DDD;
}

.hint {
	font-style: italic;
}

.menuNavigation {
	display: grid;
	gap: 10px;
}

.navigation a,
.menuNavigation a {
	text-decoration: none;
}

.tableContainer {
	padding: 2%;
}