.container {
  display: grid;
  padding-bottom: 50px;
}

.infoContainer {
  display: grid;
  gap: 5%;
  justify-items: center;
}

.infoContainer h1 {
  text-align: center;
  box-sizing: border-box;
  line-height: 1.1;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
  color: #95a5a6;
  font-weight: 400;
  font-size: 20px;
}

.infoContainer p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #555;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  box-sizing: border-box;
  margin: 0 0 10px;
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 16px;
}

.link i {
  font-size: 1.2rem;
  margin: 8px;
  color: #3498db;
} 

.infoContainer img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.socialContainer {
  display: flex;
}