.container {
  height: calc(100vh - 50px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "info image";
  background-color: var(--primary-bg-color);
  align-items: center;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.info {
  grid-area: info;
}

.image {
  display: grid;
  grid-area: image;
  height: 100%;
  align-items: end;
}

.image img {
  display: block;
  max-width: 100%;
  bottom: 0;
}

.title {
  grid-area: title;
  color: white;
  font-size: 3.5rem;
}

.subTitle {
  grid-area: subtitle;
  color: white;
  font-size: 1.5rem;
}

.buttonContainer {
  grid-area: buttonContainer;
  padding: 20px;
}