.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 20px 50px;
	color: white;
	background-color: #161616;
	opacity: 0.9;
}

.logo {
	display: grid;
	justify-items: start;
}

.logo a {
	color: white;
	text-decoration: none;
}

.menu {
	display: grid;
	justify-items: end;
}
