.registerForm {
  display: grid;
  gap: 20px;
  align-items: center;
  justify-items: center;
  max-height: 100vh;
}

.registerForm__inputsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.registerForm__input {
  height: 50px;
  padding: 5px;
  text-align: center;
  border: 1px solid silver;
  border-radius: 10px;
}

.privacy {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.privacy__label {
  font-size: 0.8em;
  text-align: center;
}

.privacy__checkboxContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.privace__input {
  height: 50px;
  padding: 5px;
  text-align: center;
  border: 1px solid silver;
  border-radius: 10px;
}

.validation__message {
  color: rgb(255, 0, 0);
}

@media (max-height: 360px) {
  .registerForm__input {
    height: 40px;
  }
  .registerForm__inputsContainer {
    grid-template-columns: 1fr 1fr;
  }
}