.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  gap: 20px;
  align-items: center;
}

.avatar {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px silver;
}

.avatar i {
  font-size: 20px;
}

.container p {
  font-size: 2rem;
  color: white;
  text-shadow: 1px 1px 1px black;
  white-space: nowrap;
}