.container {
	display: grid;
	grid-template-areas: "settings" "cardContainer";
	grid-template-rows: min-content 1fr;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;
}

.settings {
	display: grid;
	grid-area: settings;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;
}

.radioContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.cardContainer {
	display: grid;
	grid-area: cardContainer;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;
}
