.container {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	padding: 5%;
	background-color: white;
	border-radius: 20px;
}

.removeBtn {
	position: absolute;
	top: 20px;
	right: 20px;
	transition: 0.3s ease;
}

.removeBtn:hover {
	color: red
}

.side {
	display: grid;
	grid-template-rows: min-content max-content;
}

.side textarea {
	min-height: 200px;
}
