.container {
  display: grid;
  gap: 20px;
}

.containerTitle {
  border-bottom:  1px solid #DDD;
}

.cardsContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
}

.actionsButtons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
}

.buttons {
  display: grid;
  justify-content: end;
  gap: 20px;
  grid-template-columns: auto auto auto;
}

.buttons i {
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #DCEDF5;
  color: #1E96CB;
  cursor: pointer;
}