
.congratulationContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.congratulationActions {
  z-index: 1000;
  display: grid;
  gap: 20px;
  align-items: center;
  padding: 10%;
  background-color: #161616;
  border-radius: 10px;
  box-shadow: 1px 1px white;
  animation: appear 0.8s;
}

@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.congratulationActions h1 {
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.buttonsContainer {
  display: flex;
  gap: 20px;
}

.congratulationButton {
  z-index: 1000;
  padding: 5% 10%;
  border-radius: 5%;
}

.congratulationImg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}