.container {
  display: grid;
  grid-template-areas: "logo search menu";
  justify-items: center;
  align-items: center;
  background-color: var(--primary-bg-color);
  color: white;
  padding: 10px 0;
}

.search {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) min-content;
  align-items: center;
  gap: 5px;
}

.search input {
  box-sizing: border-box;
  display: block;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 12px;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  outline: none;
}