.container {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 5%;
  font-size: 2rem;
  background-color: white;
  border: 1px solid #DDD;
  transition: 0.3s ease;
}

.svgContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
}

.turn {
  animation: turnCard 0.3s;
}

@keyframes turnCard {
  from {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0);
  }
}

@media screen and (width < 500px) {
  .svgContainer {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
  }
}