.container {
  background-color: #232323;
  color: white;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 50px;
  padding: 0 5%;
}

.header {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.header h1 {
  font-size: 4rem;
}

.header .line {
  width: 50%;
  height: 1px;
  background-color: #008ED6;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.column {
  display: grid;
}

.featureContainer {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 3fr;
  text-align: right;
  grid-template-areas: "featureHeader featureIcon" "featureDescription featureIcon";
  justify-items: end;
}

.end .featureContainer {
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "featureIcon featureHeader" "featureIcon featureDescription";
  text-align: left;
  justify-items: start;
}

.featureHeader {
  grid-area: featureHeader;
  font-size: 2rem;
  color: #008ED6;
}

.featureIcon {
  grid-area: featureIcon;
  width: 40px;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 40px;
  border: 2px solid;
  border-color: #008ED6;
  color: #008ED6;
  border-radius: 50%;
}

.featureDescription {
  grid-area: featureDescription;
}