.container {
	display: grid;
	grid-template-rows: max-content 1fr;
	grid-template-columns: 1fr;
	overflow: hidden;
	background-color: #FFFFFF;
	border-radius: 10px;
}

.containerTitle {
	display: grid;
	grid-template-columns: min-content min-content;
	gap: 20px;
	align-items: center;
	padding: 2%;
	background-color: #F9F8F8;
	border-bottom: 1px solid #DDD;
}

.svgContainer {
	width: 70px;
	height: 70px;
}

.settingsContainer {
	display: flex;
	flex-wrap: wrap;
  padding: 5%;
	gap: 20px;
	justify-content: flex-start;
}

.settingsContainer input {
  box-sizing: border-box;
  width: 100%;
  min-height: 2rem;
  padding: 1rem;
  margin: 0;
  background-color: #eee;
  border: none;
  border-radius: 10px;
}

.actionButtons {
  display: grid;
  width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}