.container {
	display: grid;
	min-height: 90vh;
	padding: 25px 0;
	padding-top: 100px;
	text-shadow: 1px 1px 2px black;
	background-color: rgb(110 110 110);
	background-image: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=628&q=80");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	background-blend-mode: multiply;
	justify-items: center;
	align-items: center;
}

.info {
	display: grid;
	justify-items: center;
	grid-template-rows: 3fr 1fr;
	padding: 0 20%;
	color: white;
	text-align: center;
}

.info .title h1 {
	font-size: 4.5rem;
}

.info .subTitle p {
	font-size: 2rem;
}

.buttonContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10%;
}
