.loginForm {
  display: grid;
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.loginForm__inputsContainer {
  display: grid;
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.loginForm__input {
  height: 50px;
  padding: 5px;
  text-align: center;
  border: 1px solid silver;
  border-radius: 10px;
}