.container {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 5%;
  font-size: 2rem;
  background-color: white;
  transition: 0.3s ease;
  border: 1px solid #DDD;
}

.turn {
  animation: turnCard 0.3s;
}

@keyframes turnCard {
  from {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0);
  }
}