.container {
	display: grid;
	grid-template-rows: max-content 1fr;
	grid-template-columns: 1fr;
	gap: 20px;
}

.navigation {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 20px;
}

.navigation a {
	text-decoration: none;
}

.container table {
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
	border-collapse: collapse;
	border: 1px solid #ddd;
}

table th {
	padding: 5px;
	font-weight: bold;
	background: #efefef;
	border: 1px solid #ddd;
}

table td {
	padding: 5px;
	border: 1px solid #ddd;
}
