.container {
  display: grid;
  background-color: #F9F8F8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid #DDD;
}

.containerTitle {
  border-bottom: 1px solid #DDD;
  padding: 2% 5%;
}

.actionButtons {
  display: grid;
  padding: 2% 5%;
  background-color: white;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  border-bottom: 1px solid #DDD;
}

.content {
  padding: 5%;
}