.container {
	display: grid;
	gap: 50px;
	justify-items: center;
	padding: 50px;
	color: white;
	text-align: center;
	background-color: #161616;
}

.header {
	display: grid;
	gap: 20px;
	justify-items: center;
	text-align: center;
}

.header .line {
	width: 50%;
	height: 1px;
	background-color: #008ed6;
}

.skills {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.skill {
	display: grid;
	gap: 20px;
	justify-items: center;
	text-align: center;
}

.skill i {
	font-size: 5rem;
}
