
@font-face {
  font-family: 'Raleway-Black';
  src: local('Raleway-Black'), url(./fonts/Raleway-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Golos-Text';
  src: local('Golos-Text'), url(./fonts/GolosText-Regular.ttf) format('truetype');
}

* {
	padding: 0;
	margin: 0;
}

:root {
	--primary-bg-color: #9179ba;
	--secondary-bg-color: #f0edf5;
	--primary-text-color: white;
	--secondary-text-color: black;
	--third-text-color: #95a5a6;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway-Black', sans-serif;
}

p {
	font-family: 'Golos Text', sans-serif;
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--secondary-bg-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family:
		"source-code-pro",
		"Menlo",
		"Monaco",
		"Consolas",
		"Courier New",
		monospace;
}

body>iframe {
	pointer-events: none;
}

body::-webkit-scrollbar {
  width: 10px;               /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: #EFEFEF;        /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
  background-color: silver;    /* цвет бегунка */
}