@font-face {
  font-family: 'Cormorant Garamond';
  src: local('Cormorant Garamond Regular'), url(./fonts/CormorantGaramond-Regular.ttf) format('truetype');
}

* {
	padding: 0;
	margin: 0;
}

:root {
	--primary-bg-color: #9179ba;
	--secondary-bg-color: #f0edf5;
	--primary-text-color: white;
	--secondary-text-color: black;
	--third-text-color: #95a5a6;
}

body {
	padding: 0;
	margin: 0;
	font-family:
		"Cormorant Garamond",
		serif;
	background-color: var(--secondary-bg-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family:
		"source-code-pro",
		"Menlo",
		"Monaco",
		"Consolas",
		"Courier New",
		monospace;
}

body>iframe {
	pointer-events: none;
}

body::-webkit-scrollbar {
  width: 10px;               /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: #EFEFEF;        /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
  background-color: #1999C3;    /* цвет бегунка */
  border-radius: 20px;       /* округлось бегунка */
}