.container {
  background-image: url('https://images.unsplash.com/photo-1478860409698-8707f313ee8b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  background-color: var(--primary-color);
  /* TODO Поправить это */

  color: white;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  position: relative;
  padding: 30px;
}

.bbTopLeft {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    border-top: 1px solid white;
    border-left: 1px solid white;
}

.bbTopRight {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  right: 0;
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.bbBottomLeft {
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

.bbBottomRight {
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 0;
  right: 0;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80px;
  border: 5px solid var(--primary-color);
  border-radius: 10px;
}

.inputContainer input {
  width: 90%;
  height: 100%;
  font-size: 3rem;
  outline: none;
}

.inputContainer button {
  width: 10%;
  height: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color);
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.contactContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.contact i {
  margin: 0 5px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid white;
  box-shadow: 2px 1px 1px silver;
}

.contact:hover {
  text-shadow: 2px 2px 2px var(--primary-color);
}

.formContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.formContainer * {
  margin: 5px 0;
}

.formContainer input {
  font-size: 2rem;
}

.formContainer input[type=text] {
  outline: none;
  height: 4rem;
}

.formContainer input[type=textarea] {
  outline: none;
  height: 10rem;
}


.formContainer .button {
  display: flex;
  height: 4rem;
  padding: 1rem;
  font-size: 2rem;
  background-color: white;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}

.button:hover {
  background-color: var(--primary-color);
  color: white;
}

.button:active {
  transform: scale(0.98);
}

@media (max-width: 722px) {
  .button {
    font-size: 1.2rem;
  }
}