.container {
	display: grid;
	align-items: center;
	justify-items: center;
	min-height: 90vh;
	padding: 25px 0;
	padding-top: 100px;
	background-color: rgb(110 110 110);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	background-blend-mode: multiply;
}

.info {
	display: grid;
	grid-template-rows: 3fr 1fr;
	gap: 50px;
	justify-items: center;
	padding: 0 15%;
	color: white;
	text-align: center;
}

.info .title h1 {
	font-size: 4.5rem;
}

.info .subTitle p {
	font-size: 1.7rem;
}

.buttonContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10%;
}
