.container {
  background-color: white;
}

.title {
  padding: 2%;
  background-color: #F9F8F8;
  border-bottom: 1px solid #DDD;
}

.importCardsDataFormContainer {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 20px;
  padding: 2% 5%;
  background-color: white;
}

.inputContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  align-items: center;
}