.container {
  display: grid;
  gap: 20px;
  background-color: white;
}

.title {
  padding: 2%;
  background-color: #F9F8F8;
  border-bottom: 1px solid #DDD;
}

.importCardsDataFormContainer {
  display: grid;
  gap: 20px;
  padding: 2% 5%;
  background-color: white;
}