.container {
  display: grid;
  box-shadow: 1px 1px 1px 1px silver;
  border-radius: 10px;
  justify-items: center;
  align-items: center;
  padding: 10%;
  transition: 0.3s ease;
  background-color: whitesmoke;
  font-size: 3rem;
}

.turn {
  animation: turnCard 0.3s;
}

@keyframes turnCard {
  from {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0);
  }
}