.container {
	position: fixed;
	top: 20%;
	left: 50%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 500px;
	height: 400px;
	text-align: center;
	background-color: white;
	border: 2px solid rgb(255 255 255);
	border-radius: 10px;
	box-shadow: 2px 2px 2px silver;
	opacity: 0.95;
	transition: 0.3s ease-in;
	transform: translateX(-50%);
}

.closeBtn {
	position: absolute;
	top: 20px;
	right: 20px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
}

.form * {
	margin-bottom: 5px;
}

.form input {
	width: 80%;
	height: 2rem;
	padding: 0 1rem;
	border: 1px solid silver;
	border-radius: 10px;
	outline: none;
	transition: 2s ease-in;
}

.form input:focus {
	border-color: cornflowerblue;
}

.form button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 30px;
	margin: 10px;
	border: none;
	border-radius: 10px;
	box-shadow: 1px 2px 2px silver;
}

.form button:active {
	transform: scale(0.98);
}

.notValid {
	border-color: red;
	box-shadow: 2px 2px 2px rgb(250 63 63);
}

.validUser {
	color: red;
}
