.faqPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5%;
  background-color: white;
  border-bottom: 1px solid silver;
}

.questionBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.questionBlock__title {}

.questionBlock__title.r {
  font-size: 1.5em;
  color: red;
}