.container {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto;
	color: black;
}

.container ul li {
	list-style-type: none;
}

.upper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	padding: 50px;
}

.bottom {
	display: grid;
	grid-template-areas:
		""
		"time";
	grid-template-rows: auto auto;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 5px;
	padding: 50px;
	color: white;
	background-color: #161616;
	box-shadow: 1px 1px 5px silver;
}

.social {
	display: grid;

	/* FIXME Подумать еще над этим */
	grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}

.social i {
	font-size: 3rem;
}

.time {
	padding-top: 50px;
}
