.container {
	display: grid;
	grid-template-rows: max-content 1fr;
	grid-template-columns: 1fr;
	gap: 20px;
}

.navigation {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 20px;
}

.navigation a {
	text-decoration: none;
}

.container table {
	width: 100%;
	margin-bottom: 20px;
	font-size: 1.2rem;
	text-align: center;
	border-collapse: collapse;
	border: 1px solid #ddd;
}

table th {
	padding: 5px;
	font-weight: bold;
	background: #efefef;
	border: 1px solid #ddd;
}

table td {
	padding: 5px;
	border: 1px solid #ddd;
}

.cardSetTitle {
	font-size: 1.5rem;
	font-weight: bold;
	cursor: pointer;
}

.toolsContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.toolsContainer i {
	font-size: 1.2rem;
	transition: 0.3s ease-in;
}

.toolsContainer i:hover {
	color: red;
}

.tr {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}