.container {
	display: grid;
	grid-template-rows: max-content 1fr;
	grid-template-columns: 1fr;
	background-color: #FFFFFF;
	border-radius: 10px;
	overflow: hidden;
}

.header {
	background-color: #F9F8F8;
	padding: 2%;
	align-items: center;
	display: grid;
	grid-template-columns: min-content min-content;
	gap: 20px;
	border-bottom: 1px solid #DDD;
}

.header h1 {
	white-space: nowrap;
}

.userSvgContainer {
	width: 70px;
	height: 70px;
}

.contentContainer {
	display: grid;
	grid-template-columns: 1fr 5fr;
	gap: 20px;
}

.menuContainer {
	background-color: #F9F8F8;
	padding: 5%;
	border-right: 1px solid #DDD;
}

.dashboardContainer {
	display: grid;
	gap: 20px;
	margin: 2%;
	border: 1px solid #DDD;
	border-radius: 10px;
}

.navigation {
	display: flex;
	flex-wrap: wrap;
	padding: 2%;
	border-bottom: 1px solid #DDD;
	gap: 10px;
}

.menuNavigation {
	display: grid;
	gap: 10px;
}

.navigation a,
.menuNavigation a {
	text-decoration: none;
	width: min-content;
}

.tableContainer {
	padding: 2%;
}

.container table {
	width: 100%;
	margin-bottom: 20px;
	font-size: 1.2rem;
	text-align: center;
	border-collapse: collapse;
	border: 1px solid #DDD;
}

table th {
	padding: 5px;
	font-weight: bold;
	background: #efefef;
	border: 1px solid #ddd;
}

table td {
	padding: 5px;
	border: 1px solid #ddd;
}

.cardSetTitle {
	font-size: 1.5rem;
	font-weight: bold;
	cursor: pointer;
}

.toolsContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.toolsContainer i {
	font-size: 1.2rem;
	transition: 0.3s ease-in;
}

.toolsContainer i:hover {
	color: red;
}

.tr {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}