.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas: "settings" "cardIndex" "cardContainer";
  justify-items: center;
  align-items: center;
  padding: 50px;
}

.settings {
  grid-area: settings;
  display: grid;
  grid-template-columns: max-content min-content min-content;
  gap: 5%;
  justify-items: center;
  align-items: center;
}

.cardIndex {
  grid-area: cardIndex;
}

.cardContainer {
  grid-area: cardContainer;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
}

.arrow {
  color: #f0ad4e;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.arrow:active {
  transform: scale(0.95);
}
